.img{
    width: 250px;
    height: 250px;
    background-image: url("../imag/arnel-hasanovic-MNd-Rka1o0Q-unsplash.jpg");
    background-repeat:no-repeat;
    background-size: 250px;
    position: relative;
    transform: 2s;
    overflow: hidden;
}
.img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.6);
    top: 0;
}
.img:hover:after{
    transition:1s;
    /* top: 100%; */
    left: 50%;
   
    
}

