
body{
    background-color: rgb(192, 181, 169);
}
#img{
    height: 7vh;
    width: 4vw;

}
.f{
    height:50%;
    width: 100%;
    
}


  /* Footer styles */
  footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  