.main{
    background-color: rgb(57, 54, 54);
    height: 100%;
    width: 100%;
}
.section-1{
    background-color: rgb(181, 111, 111);
    height: 20px auto;
    width: 20%;
    content: attr();

}
#section-2{
    background-color: rgb(63, 19, 19,0.6);
    height: 20px auto;
    width: 20%;

}