*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tran
{
    margin: 0 auto;
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    text-align: center;

    /* transform: rotate(90deg); */
    /* transform: rotateX(45deg); */
    /* transform: rotateY(45deg); */
    /* transform: skew(45deg); */
    /* transform: skewY(45deg); */

    /* transform: scale(2,1); */
    transform: translate(20%,45%);
    transition: 4s;
}