/* CSS styles for the website */
title{
  font-family: Broadway;
}
/* General styles */
body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: Baguet Script;
  }
  
  /* Header styles */
  header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
     font-family: Broadway;
  }
  
  .logo img {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 20px;
    font-weight: bold;
  }
  
  .menu ul {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu ul li {
    margin-right: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main content styles */
  main {
    margin: 20px;
  }
  
  /* Home Section */
  #home {
    text-align: center;
  }
  
  /* How to Study Section */
  #how-to-study {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  #how-to-study p {
    margin-bottom: 15px;
  }
  
  #how-to-study a {
    color: #2c3e50;
    font-weight: bold;
  }
  
  /* Todo Section */
  #todo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .todo-grid h3 {
    margin-bottom: 10px;
  }
  
  .todo-grid ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .todo-grid ul li {
    margin-bottom: 10px;
  }
  
  .todo-grid ul li strong {
    font-weight: bold;
  }
  
  /* Footer styles */
  footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  