/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 
 /* Header Section */
 header {
    background-color: #333;
    color: #fff;
    padding: 20px;
 }
 .logo{
   float: left;
   max-width: 700px;
   
  
 }
 link{
   float: right;
   max-width: 500px;
 }
 .logo img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
 }
 
 .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
 }
 
 .navigation li {
    display: inline-block;
    margin-right: 10px;
 }
 
 .navigation li a {
    color: #fff;
    text-decoration: none;
 }
 
 .navigation li a:hover {
    text-decoration: underline;
 }
 
 /* Home Section */
 .home {
    padding: 20px;
 }
 
 /* How to Study Section */
 .study {
    padding: 20px;
 }
 
 /* Pomodoro Technique Section */
 .pomodoro {
    padding: 20px;
 }
 
 .pomodoro a {
    color: #333;
    text-decoration: none;
 }
 
 .pomodoro a:hover {
    text-decoration: underline;
 }
 
 